body {
    background-color: #0e0e0e;
}

.container.blue1 {
    margin-top: 100px;
    padding: 45px;
    height: 610px;
    width: 550px;
    background-color: #3598dc;
}

.container.white1 {
    height: 510px;
    width: 380px;
    background-color: #ffffff;
}

.first {
    border-bottom: 1px solid grey;
}

p {
    text-align-last: center;
    color: white;
}

.aa {
    color: white;
}
